<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="deki" translate="label" sortOrder="999">
			<label>Deki</label>
		</tab>
		<section id="flash_sale" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Flash Sale</label>
			<tab>deki</tab>
			<resource>Deki_FlashSale::config_deki_flashsale</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General</label>
				<field id="is_enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable</label>
					<comment>Enable or disable flash sale module</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
